body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}


.country-flag, .country-coat-of-arms {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
